@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/roboto-regular-webfont'), format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/roboto-italic-webfont'), format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


html, body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.wrapper {
  box-sizing: border-box;
  width: $wrapper-width;
  @include rem(margin, 0 auto);
  background-color: $bg-color-wrapper;
  @include rem(min-height, 1400px);
  @include rem(min-height, 350px);
  position: relative;
}
/*
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
*/

.side {
  float: left;
  @include rem(padding, 20px);
  box-sizing: border-box;
  background-color: $bg-color-side;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: $aside-width;
    position: absolute;
    @include rem(top, 0);
    @include rem(bottom, 0);
  }


}

.content {

  box-sizing: border-box;
  @include rem(padding, 20px);
  padding: 20px;

  @include tablet {
    float: left;
    width: 100%;
  }

  @include desktop {
    margin-left: $aside-width;
  }

}