$font-title1 : #3e5486;


html, body {
    font-family: "Roboto", sans-serif;


}

.side {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 335px;

    //min-height: 1400px;
    background-color: #e6e6e6;
    //border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;

}


h1 {
  font-size: 2.25rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;

}


.info, .about, .skills{
   // border: 1px solid black;
    margin-bottom: 10px;
}

.info_foto {
    //border: 1px solid black;
    text-align: center;
    //margin: 20px;
}
.info_foto img {
    width: 75%;
    border-radius: 50%;
    box-shadow:
            5px 5px 5px gray,
            -5px 5px 5px gray;

}

.info_name {
    //margin: 0 20px ;
   // font-size: 2.25rem;
    //border: 1px solid black;

    text-shadow: 3px 2px 3px gray;
}




.info_name h1 {
    color: #34547d;
}

.info_name h2 {
    color: #3b2e26;
}

.info_contact {
    //border: 1px solid black;
    //margin: 0 20px;
    //font-size: 1.2rem;
    //overflow: hidden;

}



.info_contact ul li {
    list-style: none;
    margin-left: -40px;
    height: 40px;
    padding-bottom: 5px;
}

.info_contact ul li:last-child {
    padding-bottom: 0;
}


.info_contact span {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    margin-top: -30px;
}

.info_contact span a {
    text-decoration: none;
}


.info_icon  {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #36567f;
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    box-shadow: 3px 2px 3px gray;

}

.info_icon.information {
    background-position: 0, center;
}

.info_icon.post {
    background-position: -40px, center;
}

.info_icon.phone {
    background-position: -80px, center;
}

.info_icon.globe {
    background-position: -120px, center;
}
.info_icon.email {
    background-position: -160px, center;
}


.about_title, .skills_title {
    //margin: 0 20px ;
    //font-size: 2.25rem;
    //border: 1px solid black;

    color: #3b2e26;
    padding: 0;
    text-shadow: 3px 2px 3px gray;
}

.about_title h4, .skills_title h4 {
    //margin: 0;
}


.about_main, .skills_content {
    //margin: 0 20px ;
   // border: 1px solid black;

    color: #3b2e26;
    padding: 10px 0;
}

.about_main p {
    margin: 0;
    text-align: justify;
}




.skills_content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.skills_content ul li {
    padding-bottom: 5px;
}


.skills_content p {
    margin: 0;
    //font-size: 1.2rem;


}

.skills_content progress {
    height: 20px;
    width: 100%;
    background-color: #b8b8b8;
}

.skills_content progress::-webkit-progress-value {
    background-color: #335582;
}





.content {
    box-sizing: border-box;
    margin-left: 335px;
    //float: left;
    //min-width: 300px;
    //border: 1px solid black;
    padding: 20px;
    //min-height: 1400px;



}

.wrapper {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    //border: 1px solid black;
    background-color: white;
    min-height: 1400px;
    position: relative;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.interests {
    //border: 1px solid black;
    //margin: 20px;
}

.interests span {
  background-color: #b8b8b8;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.75rem;
}

.interests p {
  //margin: 0;
  //padding: 0;
  //margin-top: 10px;
}

.education {
  //border: 1px solid black;

  //margin: 20px;
}

.education > span {
  background-color: #3e5486;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.75rem;
}

.education_table {
  margin-top: 5px;
  margin-bottom: 15px;
  display: table;
  //border: 1px solid black;
  width: 100%;

}

.education_table-row {
  display: table-row;
  //border: 1px solid black;


}

.education_table-row div {
  display: table-cell;
  //border: 1px solid black;
  padding: 5px 5px 5px 0;
}

.education_table-row div:first-child {
  width: 15%;
}

.education_table-row div:last-child {
  width: 10%;
  text-align: right;
}

.education_table-row div p {
  margin: 0;
}

.education_table-row div p:first-child {
  color: gray;

}





.publications {
  //border: 1px solid black;

  //margin: 20px;
}

.publications > span {
  background-color: #b8b8b8;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.75rem;
}

.publications_table {
  margin-top: 5px;
  margin-bottom: 15px;
  display: table;
  //border: 1px solid black;
  width: 100%;

}

.publications_table-row {
  display: table-row;
  //border: 1px solid black;


}

.publications_table-row div {
  display: table-cell;
  //border: 1px solid black;
  padding: 5px 5px 5px 0;
  color: gray;
}


.publications_table-row div:first-child {
  width: 15%;
}





.awards {
  //border: 1px solid black;

  //margin: 20px;
}

.awards > span {
  background-color: #3e5486;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.75rem;
}

.awards_table {
  margin-top: 5px;
  margin-bottom: 15px;
  display: table;
  //border: 1px solid black;
  width: 100%;

}

.awards_table-row {
  display: table-row;
  //border: 1px solid black;


}

.awards_table-row div {
  display: table-cell;
  //border: 1px solid black;
  padding: 5px 5px 5px 0;
  color: gray;
}


.awards_table-row div:first-child {
  width: 15%;
}





.experience {
 // border: 1px solid black;

  //margin: 20px;
}

.experience > span {
  background-color: #b8b8b8;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.75rem;
}

.experience_table {
  margin-top: 5px;
  margin-bottom: 15px;
  display: table;
  //border: 1px solid black;
  width: 100%;

}

.experience_table-row {
  display: table-row;
  //border: 1px solid black;


}

.experience_table-row div {
  display: table-cell;
  //border: 1px solid black;
  padding: 5px 5px 5px 0;
}


.experience_table-row div:first-child {
  width: 15%;
}

.experience_table-row div:last-child {
  width: 10%;
  text-align: right;
}


.experience_table-row div p {
  margin: 0;
  text-align: justify;
}

.experience_table-row div p:first-child {
  color: gray;
}



.other {
  //border: 1px solid black;

  //margin: 20px;
}

.other > span {
  background-color: #3e5486;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.75rem;
}

.other h3 {
  margin: 10px 0;
  color: gray;
}

.other p {
  text-align: justify;
}





