$bg-color-wrapper: white;
$bg-color-side: #e6e6e6;
$bg-color-icons: #355681;
$bg-color-title-1: #b8b8b8;
$bg-color-title-2: #3e5486;
$text-color1: white;
$text-color2: gray;

$wrapper-width: 95%;
$aside-width: 335px;



@import "my_mixins";
@import "main";
@import "side";
@import "content";



